h1{
	flex: 1;
	border-bottom: 1px solid #fff;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;

	width: 32px;
	text-transform: uppercase;
	display: block;color:#fff;
	background-color: #ffffff;

}